.profile-container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

.profile-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.profile-image-oval-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 2px solid #d9534f;
}

.profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.account-icon {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-form label {
    width: 50%;
    margin-bottom: 100px;
    margin-left: -210%;
    font-size: 16px;
    text-align: left;
}

.profile-input {
    width: 250%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: -80%;
    display: block;
}

.profile-save-button {
    width: 50%;
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    opacity: 1;
}

.profile-save-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.7;
}

.profile-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}

.profile-edit-button,
.profile-next-button {
    width: 40%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-edit-button {
    background-color: #25379c;
    color: white;
}

.profile-next-button {
    background-color: #d9534f;
    color: white;
}
